*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
    width: 100%;
    height: 100vh;
    border-bottom: 30px solid rgb(146, 100, 57);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#562b9b, #3f3c3c);
}
.logo {
    width: 340px;
}
@media (max-width:930px) {
    .logo {
        width: 140px;
    }
}
button {
    background: green;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    position: absolute;
    right: 50vw;
    top: 50vh;
    cursor: pointer;
    z-index: 1;
}
button:hover {
    border: 2px solid green;
    background: none;
    color: green;
}

.game-over {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.322);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}
.game-over h1 {
    font-size: 3rem;
    color: red;
    text-align: center;
    margin-top: 15rem;
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 80px;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.nuvem {
    width: 550px;
    position: absolute;
    top: 0;
    animation: nuvem-animation 20s infinite linear;
}

@keyframes nuvem-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

.pipe-animation {
    animation: pipe-animation 2s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom:0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}